@{
    ViewData["Title"] = "Home Page";
}

<div class="text-justify">
    <h1 class="display-4">Welcome</h1>
    <br />
    <h4>Dear</h4>
    <br />
    <p>I have more of the then years like software developer where I could do maintenance in code and create many projects.</p>
    <p>In begin I codified with Delphi language and the more of the five years I write code with .Net plataform.</p>
    <p>Just used to write back-end systems with the tecnologies REST and REST-Full.</p>
    <p>Actualy I am senior developer at the Rock Content compay where I can suport in the maintenance and create new features in the ERP writed in C# MVC. Also create some services "WebAPI" using mongodb as database service.</p>
    <p>I have proeficience with SQLServer database, writing queries, procedures and triggers. I have also used Oracle database and Firebird and MySQL.</p>
    <br>
    <p>
        So, nice to meet you.<br />
        Willlimar Augusto Rocha<br />
        (48) 9 9649-2933<br />
        willimar@gmail.com
    </p>
    <br>
    <p><b>Ps. Be sure to read the application readme before execute.</b></p>
</div>
    