@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    This application has how the unique objective the selective process at the Nibo company.
</p>
<p>
    I am not accountability by use from the source code and the application here created.
</p>
<p>
    I not autorized the replication the source code or some part of the code in the repository created.
</p>
<p>
    The data here used be fakes and used only for test.
</p>
